@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-primary: #007bff;
  --color-bg-light: #f4f7fe;
  --color-text-dark: #1e293b;
  --color-text-gray: #64748b;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
